.profile-container {
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.profile-bio {
  width: 15vw;
  color: black;
  font-family: 'Roboto';
  padding-left: 10px;
}
@media screen and (max-width: 576px) {
  .profile-bio {
    width: 200px;
  }
  .profile-container {
    width: 220px;
    padding-bottom: 40px;
    border-radius: 15px;
  }
}
.profile-name {
  color: #6366f1;
  padding-left: 10px;
  margin-top: 0px;
}
.profile-image {
  height: 50px;
  margin: 10px;
}
.line {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 20px;
}
.types-of-engagement {
  margin-bottom: 10px;
}
.checkbox-label-container {
  margin-bottom: 10px;
}

.salary-range {
  margin-bottom: 10px;
}
.radio-label-container {
  margin-bottom: 10px;
}
.label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
}
