.container {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.login-card-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.logo {
  height: 40px;
  width: 120px;
  margin-bottom: 30px;
}
.username-label {
  font-size: 12px;
  color: white;
  padding-bottom: 5px;
}
.input-username {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #64748b;
  background-color: #272727;
}
.password-label {
  font-size: 12px;
  color: white;
  padding-bottom: 5px;
}
.input-password {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #64748b;
  background-color: #272727;
}
.login-button {
  background-color: #6366f1;
  border: none;
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
}
.error-msg {
  color: #ff0b37;
}
