.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding-left: 5%;
  padding-right: 5%;
  height: 80px;
}
.website-logo {
  height: 30px;
}
.home-jobs-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.home {
  color: white;
  margin-right: 10px;
  font-family: 'Roboto';
}
.jobs {
  color: white;
  margin-left: 10px;
  font-family: 'Roboto';
}
.logout-button {
  background-color: #4f46e5;
  width: 70px;
  border: none;
  height: 25px;
  color: white;
  font-family: 'Roboto';
  border-radius: 5px;
}
